body {
    background-image: url('blur.jpg'); /* Replace with the actual path to your background image */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    height: 100vh; /* Ensure full height */
}
/* .zer0{
    position: relative;
    background-image: url('blur2.jpg');
    left: 20%;
    height:650px;
    width: 900px;
    margin:20px;
    border-radius: 0px 80px 80px 80px;
    
} */
.first{
     position: absolute;
     left:550px;
     top: 80px;
    background-color: rgb(244, 248, 249);
    height: 500px;
    width: 500px;
    border-radius: 20px;
    /* box-shadow: 2px 2px rgba(59, 70, 51, 0.1); */
   
}
.secound{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    border: 1px rgb(241, 241, 241);
}
.three0{
    background-color: rgb(167, 167, 180);
     margin: 5px;
    height: 350px;
    width:98%;
    margin-right: 15px;
    margin-left:15px ;
    border: 7px rgb(113, 55, 55) ;
    border-radius: 40px 0px 40px 0px;

}
.em{
    position: relative;
    left: 140px;
    top: 40px;
    width:280px;
    border-radius: 10px 0px 0px 0px;
    height:40px;
    border: 10px ;
    border-color: black;
    text-align:center;
    background-color: rgb(255, 255, 255);
}
.resize{
width: 20px;
position: relative;
right: 200px;
top: 40px;
}
.us{
    position: relative;
    left: 140px;
    top: 75px;
    width:280px;
    height:40px;
    border: 10px ;
    border-color: black;
    border-radius: 10px 0px 0px 0px;
    text-align:center;
}
.resize1{
    width: 20px;
    position: relative;
    right: 200px;
    top: 85px;
    }
    .pass{
        position: relative;
        left: 140px;
        top: 115px;
        border-radius: 10px 0px 0px 0px;
        width:280px;
        height:40px;
        border: 10px ;
        border-color: black;
        text-align:center;
    }
    .resize2{
        width: 23px;
        position: relative;
        right: 200px;
        top: 120px;
        }
        #signupButton{
            position:absolute;
            top:73%;
            right: 30px;
            width: 80%;
            height: 40px;
            background-color: rgb(123, 238, 41);
            color: rgb(0, 0, 0);
            border: 2px solid rgb(0, 0, 0);
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        #signupButton:hover{
            background-color:rgb(20, 221, 67);
           
        }
       
        .goog{
            width: 40px;
            position:absolute;
            top: 90%;
            left: 60px;
        }
        .fac{
            width: 50px;
            position:absolute;
            top: 89%;
            left: 230px;
        }
        .twi{
            width: 40px;
            position:absolute;
            top: 90%;
            left: 400px;
        }
        .new{
            position: absolute;
            left: 250px;
            top: 78%;
            font-size:20px;
            color:white;
        }